* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* background-color: #EFEEEA; */
  background-color: #FBF9D1;
  /* font-family: Arial, sans-serif; */
  font-family: "Nunito", sans-serif;
}

/* Give space for fixed navbar */
.main-content {
  padding-top: 80px;
  min-height: calc(100vh - 80px - 180px);
}
